header {
  border-bottom: 1px solid black;
  text-align: right;
  padding: 10px;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: #ff9933;
  margin-bottom: 10px;
}
.mainDiv {
  display: flex;
}
.list {
  margin-top: 300px;
}
.guestBook {
  margin-left: 10px;
}
.jar {
  margin-left: 100px;
}
